# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Dependency directories (e.g., vendor/)
# If you are not using Go modules, uncomment the next line
# vendor/

# Go workspace file
go.work
go.work.sum

# Environment variables file
.env

# Build results
/dist/
/build/
/bin/
/pkg/

# IDE specific files
.idea/
.vscode/
*.swp
*~
*.bak

# Svelte ignores
.svelte-kit/
node_modules/
web/build/