# Copy this file to `.env` and update values.
# Then run `source .env`
# Note: `export` is required such that `source .env` works for Go
export PORT="8080"
export TWILIO_ACCOUNT_SID="ACxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
export TWILIO_API_KEY="SKxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
export TWILIO_API_SECRET="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
